/* body { */
/* 	background-color: #D2EBE6; */
/* } */

ul {
	list-style-type: none;
	color: #80350E;
}

/* aタグの部分 */
.side {
	margin: 20px;
	display: block;
	width: 180px;
	padding: 10px 20px;
 	background-color: #FBFAF7;
	text-decoration: none;
	border-radius: 5px;
}

.side:link {
	color: #80350E;
	text-decoration: none;
}

.side:visited {
	color: #80350E;
	text-decoration: none;
}

.side:hover {
	color: #80350E;
	text-decoration: underline;
}

.side:active {
	color: #80350E;
	text-decoration: none;
}

/*サイドバーの開閉*/
.toggle-sidebar {
  width: 250px;
  height:  calc(100vh - 60px);
  background: #D2EBE6;
  color: white;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s;
  margin-top: 120px;
  z-index: 2000;
}

.toggle-sidebar.active {
  left: 0;
}

.toggle-main {
  margin-left: 0;
  padding: 1em;
}

#toggleBtn {
  margin: 15px;
  width: 60px;
  top: 45px; 
  left: 180px;
  position: fixed;
  /*   transition: left 0.3s; ← サイドバーと同じ動き */
}

/* #toggleBtn.active { */
/*   left:220px; */ 
/* } */

/*  スマホ画面用 */

@media screen and (max-width: 767px) {
	.toggle-sidebar {
		margin-top: 70px;
	}
	#toggleBtn {
		top: 10px;
		left: 10px;
	}
	
}