* {
    box-sizing: border-box; /* ブロックボックス */
}

html {
	font-size: 16px;
	font-family: "Zen Maru Gothic";
	background-color: #FBFAF7;
}
p{
	color: red;
}

body {
    margin: 0 0 0 0; /* マージンなし */
    padding: 0 0 0 0; /* パディングなし */
    font-size: 20px;
    text-align: center;
}

main {
	margin: 0 auto 0 auto;
	max-width: 1000px;
}

.header {
	background-color: #D2EBE6;
}

img {
	max-width: 100%;
}

h1 {
	margin-top: 0;
	color: #80350E;
}

/* Logout.jspのcss */
.logout {
	color: #80350E;
    font-size: 30px;
    font-family: "Zen Maru Gothic";
}

a{
	display: inline-block;
	border: solid;
	border-radius: 10px;
	border-color: #D2EBE6;
	background-color: #D2EBE6;
	transition: transform 0.25s ease;
}

a:link{
    color: brown;
    text-decoration: none;
}
a:visited{
    color: brown;
    text-decoration: none;
}
a:hover{
    color: brown;
    text-decoration: none;
	transform: translateY(5px);
}
a:active{
    color: brown;
    text-decoration: none;
}


